

.main {
    /* background-color: #1A3048;   */
    background-color:#1a1a1a;
    height: auto;
    margin: 50px;
}

.reging{
  
    color: white;
    border-radius: 50px;
    
}
.regimg{
    width: 80%;
    height: auto;
    margin: 15%;
    margin-top: -2%;
    border-radius: 0 60px;
    /* animation: rotate 10s infinite; */
    
    

   
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
